.encabezado {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.btn-sy01 {
    color: #fff;
    background-color: #ea9955;
    border-color: #ea9955;
}

.btn-sy01:hover {
    color: #fff;
    background-color: #042a68;
    border-color: #042a68;
}

.table-home {
    background: #fff;
}

.footer-pro {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

.card-title {
    color: orange;
}
